body {
    background-color: pink;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}

footer {
    display: flex;
    direction: space-evenly;
}

.footer-box {
    width: 50px;
    length: 50px;
    color: white;
}

#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#violet {
    background-color: violet;
}

#orange {
    background-color: orange;
}

#silver {
    background-color: silver;
}